<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--<groups>
        <run>
            <exclude name="Sanity"/>
            <include name="Master"/>
        </run>
    </groups>-->

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test thread-count="5" parallel="none" name="TimesheetApprovalTest">
        <parameter name="os" value="window"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <!--<class name="testBase.SetupPreconditions"/>-->
            <!--<class name="testCases.TC001_TimesheetApprovalTests"/>
            <class name="testCases.TC002_TimesheetRejectionTests"/>
            <class name="testCases.TC003_TimesheetMultiProjectWorkflowTests"/>
            <class name="testCases.TC004_TimesheetMultiProjectRejectionTests"/>
            <class name="testCases.TC005_PartiallyRejectTimesheetForProjects"/>
            <class name="testCases.TC006_PartiallyRejectTimesheetOfApprovalUserForProjects"/>
            <class name="testCases.TC007_TimesheetSubmissionAndApprovalForTwoProjectsSameSchema"/>-->
            <class name="testCases.TC008_BulkTimesheetApprovalTests"/>

        </classes>
    </test>
</suite>